* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial,sans-serif;
}
nav {
    overflow: auto;
    padding: 15px;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size:13px;
    color: #333;
}
nav ul li a:hover {
    text-decoration:underline;
}
footer {
    overflow: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 241, 240);
}
footer ul {
    margin: 0 15px;
}
footer ul li {
    list-style-type: none;
    padding: 5px;
}
footer ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-decoration: none;
    font-size:13px;
    color: #5f6368;
}
footer ul li a:hover {
    text-decoration:underline;
}
.left {
    float:left;
}
.right {
    float:right;
}
main {
    display: flex;
    justify-content: center;
    margin-top:140px;
}
section {
    text-align: center;
}
main img {
    margin-bottom: 20px;
}
input {
    width: 555px;
    border-radius: 100px;
    margin-bottom: 30px;
    border: 1px solid #eaeaea;
    padding: 14px 20px;
}
input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
input:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size:14px;
    margin-left:10px;
    color: #5f6368;
}
button:hover {
    background-color: rgb(242, 241, 240);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}